body {
  width: 200px;
  text-align: center;
}

button {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

#startButton {
  background-color: #4caf50;
}

#stopButton {
  background-color: #f4511e;
}

#openLinkedInSearchPage {
  background-color: #0089ba;
  margin: 5px 0;
}

#openLinkedInRecommendedForYouPage {
  background-color: #684caf;
  margin: 5px 0;
}

.hidden {
  display: none;
}
